<!DOCTYPE html>
<html>
<head>
    <title>Panell</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Benvingut/da, {{ usuari.nom_complet }}</h2>
    <a href="/logout">Tancar sessió</a>

    {% if usuari.rol == "admin" %}
    <h3>Afegir un gat</h3>
    <form action="/afegir_gat" method="POST">
        Nom: <input type="text" name="nom"><br>
        Edat: <input type="number" name="edat"><br>
        Raça: <input type="text" name="raca"><br>
        Sexe: <input type="text" name="sexe"><br>
        Esterilitzat: <select name="esterilitzat"><option value="1">Sí</option><option value="0">No</option></select><br>
        Data d'arribada: <input type="date" name="data_arribada"><br>
        ID centre: <input type="number" name="id_centre"><br>
        <button type="submit">Afegir</button>
    </form>
    {% endif %}
</body>
</html>
